global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 0.0.0.0:70
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth user:pass

frontend balancer
  bind *:80
  mode http

  acl is_post method POST
  use_backend backend_app if is_post    

  default_backend backend_app_read

backend backend_app_read
  mode http
  option forwardfor
  balance roundrobin
  server app_read app_read:80

backend backend_app
  mode http
  option forwardfor
  balance roundrobin
  server app app:80
